<!-- <div class="card">
    <div class="card__header">
        <h2 class="card__title">Apuesta tu zapato</h2>
        <p class="card__subtitle">¡Bienvenido a la arena de apuestas!</p>
    </div>
    
    <div class="card__content">
        <p>En esta arena, podrás apostar por tus shoemons favoritos y demostrar quién es el mejor entrenador.</p>
        <p>¡Prepárate para la batalla y que gane el mejor!</p>
    </div>
    
    <div class="card__footer">
        <button class="btn btn-primary">Comenzar</button>
    </div>
</div> -->

<div class="card">
    <!-- <div class="card__header">
        <H2>PALMITOS - TORNEO STANDARD (12p)</H2>
        <h3>RONDA 1</h3>
    </div> -->
    <div class="card__content">
        <div class="players">
            <div class="img">
                <img [src]="match.deck1.image" [alt]="match.deck1.name">
            </div>
            <div class="text">
                <h4>{{match.deck1.player}}</h4>
                <p>Deck: {{match.deck1.name}}</p>
                <p class="button">Ganador</p>
            </div>
        </div>
        <div class="players">
            <div class="img">
                <img [src]="match.deck2.image" [alt]="match.deck2.name">
            </div>
            <div class="text">
                <h4>{{match.deck2.player}}</h4>
                <p>Deck: {{match.deck2.name}}</p>
                <p class="button">Ganador</p>
            </div>
        </div>
    </div>
</div>